In [1]:
print("Welcome to Python world")

Welcome to Python world

# Variable:

In [5]:
a = 100 # Create a variable "a" that point to some memory - 1.
b = 200 # Create a variable "b"

In [6]:
a # get the value that the variable point to

100

In [8]:
b # get the value that the variable point to

200

In [9]:
# find the memory address of  Variable - a
id(a)

140732837344128

In [10]:
# find the memory address of  Variable - b
id(b)

140732837347328

In [11]:
a = 200

In [12]:
id(b)

140732837347328

In [13]:
id(a)

140732837347328

In [14]:
c # 'c' is not defined

NameError: name 'c' is not defined

# Declaring varialbe name:

    - Can be in alphabet with range of a - z and A - Z
    - should not start with digit
    - should not be keyword
    - "!, @, #, %, $" cant use special symbols

## Valid Variable Name:

    myVariable
    myVariable35
    _myVariable
    
## Invalid Variable Name:

    5myVariable
    !myVariable
    
    global = 5
    break = 5

## Case Sensitive Languange

In [16]:
thing = 1
THING = 2
thIng = 3
THing = 4

In [17]:
thing

1

In [18]:
THING

2

In [20]:
thIng

3

In [21]:
THing

4

In [35]:
# Statement

# assignment statement
a = 1 
b = a
print(a)
print(b)

# muliple assignment statement
a = 1 + 2 + 3 + 4 + 5 + \
6 + 7 + 8
print(a)

a = (1 + 2 + 3 + 4 + 5 + 
6 + 7 + 8)
print(a)

a = 55; b = 65; c = 76
print(a, b, c)

a, b, c = 10, 20.40, "hello"
print(a, b, c)

a = b = c = "samedata"
print(a, b, c)

1
1
36
36
55 65 76
10 20.4 hello
samedata samedata samedata

# Python DataTypes:

    
        
        Boolean : bool
        Numeric : Integer, Float and Complex Number
        Sequence: String, List, Tuple
                : Set
                : Dictionary

In [38]:
a = 1

print(a == 1)
print(a == 2)

True
False

In [42]:
print((a == 1) == True)
a = True
type(a)

False

bool

In [40]:
# None

a = None
print(a)

None

In [43]:
# String
name = "python"
type(name)

str

In [45]:
# Number:
a = 10
b = 10.10
c = 10+5j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# Collection:
    - List
    - Tuple
    - Set
    - Dictionary